.encabezado-catalogo-peluqueria{
    position: relative;
    background-color: #ebebeb;
    padding-bottom: 15px;
    z-index: -2;
}

.img-catalogo-peluqueria{
    width: 98vw;
    height: auto;
    position: relative;
    z-index: -1;
}

.text-overlay-peluqueria{
    text-align: center;
    color: rgb(0 0 0 / 67%);
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-family: 'Roboto';
}

.contenedor-form-peluqueria{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

.estilos-form-peluqueria{
    background-color: #ebebeb;
    color: #000000c4;
    display: flex;
    flex-direction: column;
    padding: 90px;
    background-image: linear-gradient(to bottom, transparent, lightblue, transparent);
}

.estilos-labels-peluqueria{
    padding: 10px;
    font-size: 1.2rem;
    font-family: 'Roboto';
}

.estilos-inputs-peluqueria{
    padding: 10px;
    width: 50vw;
    height: 33px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.boton-peluqueria{
    padding: 0.75em 1.25em;
    display: block;
    width: 50%;
    background: rgba(0,0,0,0);
    color: #3089ab !important;
    border: 2px solid;
    border-color: #318aac;
    cursor: pointer;
    margin-top: 10px;
    font-weight: 900;
    font-size: larger;
    text-decoration: none;
    text-align: center;
    margin: 7px;
    transition: all 1s ease;
    position: relative;
    top: 11%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.boton-peluqueria:hover{
    background: #318aac;
    color: #fff !important;
}

.contenedor-texto-contacto-peluqueria{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border-radius: 35px 0px 35px 0px; */
    -moz-border-radius: 35px 0px 35px 0px;
    /* -webkit-border-radius: 35px 0px 35px 0px; */
    border: 5px solid #16c6cc;
}

.texto-contacto-peluqueria1{
    margin: 10px;
    margin-bottom: 57px;
    background-color: rgb(17 153 158 / 5%);
   /*  width: 90vw; */
    padding: 26px;
    /* padding-left: 72px; */
    text-align: center;
    line-height: 33px;
    font-size: 1.25rem;
    list-style: none;
    color: #000000b3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 35px 0px 35px 0px;
    -moz-border-radius: 35px 0px 35px 0px;
    -webkit-border-radius: 180px 0px 180px 0px;
    border: 5px solid #16c6cc;
    flex-direction: column;
    font-family: 'Roboto';

}

.texto-contacto-peluqueria{
    margin: 10px;
    margin-bottom: 12px;
    background-color: rgb(17 153 158 / 10%);
    width: 91vw;
    padding: 26px;
    text-align: center;
    line-height: 33px;
    font-size: 1.3rem;
    list-style: none;
    color: #000000d1;
    font-family: 'Roboto';
}

.contenedor-imagen-peluqueria {
    position: relative;
    display: inline-block;
  }

.text-overlay-2-peluqueria{
    position: absolute;
    top: 50%;
    left: 33%;
    transform: translate(-50%, -50%);
    color: #41514e;
    font-size: 1.4rem;
    z-index: 1;
    width: 58%;
    font-family: 'Roboto';
}

.contenedor-texto-descripcion-peluqueria{
    display: flex;
}

.espacio{
    height: 50px;
}

/*----------Breakpoints----------*/
/*Phones*/
@media (max-width: 480px)
    {
        .text-overlay-peluqueria {
            font-size: 18px;
        }
        .texto-contacto-peluqueria1 {
            margin: 3px;
            margin-bottom: 22px;
            line-height: 18px;
            font-size: 12px;
            border-radius: 35px 0px 35px 0px;
            -moz-border-radius: 35px 0px 35px 0px;
            -webkit-border-radius: 180px 0px 180px 0px;
            border: 5px solid #16c6cc;
            flex-direction: column;
        }
        .estilos-inputs-peluqueria {
            padding: 10px;
            width: 52vw;
            height: 18px;
        }
        .boton-peluqueria {
            padding: 0.75em 1.25em;
            width: 50%;
            font-weight: 700;
            font-size: medium;
        }
        .texto-contacto-peluqueria {
            line-height: 25px;
            font-size: 18px;
        }

    }

/*Tablets*/
@media (min-width: 480px) and (max-width:768px)
    {}

/*Desktop*/
@media (min-width: 769px)
    {}
