/* Estilos para el Navbar */
.navbar {
    background-color: #16c6cc; /* Color de fondo */
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64); /* Sombra de la navbar */
    margin-top: 5px; /* Margen superior */
    margin-bottom: 5px; /* Margen inferior */
    /*overflow: hidden; /* Oculta el contenido desbordado */
    /*position: fixed; /* Fija la navbar en la parte superior */
    /* top: 0; Posición superior */
    width: 100%; /* Ancho completo */
    height: 4vw; /* Altura *
    /*z-index: 1000; /* Asegura que la navbar se mantenga en la parte superior */

}

.navbar nav ul {
    justify-content:space-between; /* Centrado horizontal*/

}

.navbar nav ul li {
    display: flex; /* Coloca los elementos de la lista en línea */
    overflow: hidden;
}

.navbar nav ul li a {
    display: flex; /* Bloques en línea para los enlaces */
    color: white; /* Color del texto */
    font-family: 'Open Sans', sans-serif; /* Tipo de fuente */
    font-size: 1.5vw; /* Tamaño de la fuente */
    text-align: center; /* Alineación del texto */
    padding: 1vw 3vw; /* Espaciado alrededor del texto */
    text-decoration: none; /* Remueve el subrayado del enlace */
    font-weight: bold;
    justify-content: center;
}

.navbar nav ul li a:hover {
   
    color: black; /* Color del texto al pasar el ratón */
}

.logo img{
    height: 3.5vw; 
    width: auto;
    display:block;
    order:0;
}

/*II. M.V.A. Agregado navbar derecha*/
/*Navbar Derecha*/
.navbar nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    width: auto;
    height: 4vw;
    font-family: 'Open Sans', sans-serif;
    font-size: 1vw;
}

/* .nav-right > div
    {margin-left: 10px;} */

.nav-right{
    display: flex;
    align-items: center;
    margin: 0em 3em 0em 3em;
    width: 50%;
    height: 100%;
    justify-content: center;
}

a{
    text-decoration: none;
    color: white
}

a:hover{
    filter: drop-shadow(3px 3px 3px #FFFFFF);
    }

/*Products dropdown*/
.dropdown-products-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
    }

.dropdown-products{
    position: initial;
    flex-direction: column;
    display: flex;
    }

.dropdown-products:hover .dropdown-products-content
    {display: block;
    text-align: center;}

.dropdown-products-content a
    {color: black !important;
    padding: 12px 16px;
    text-decoration: none;
    display: block;}

.dropdown-products-content a:hover
    {background-color: #ddd;}

/*Servicios dropdown*/
.dropdown-services-content
    {display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
    text-align: center;}

.dropdown-services{
    position: initial;
    display: flex;
    flex-direction: column;
    }

.dropdown-services:hover .dropdown-services-content{
    display: block;
    }

.dropdown-services-content a{
    color: black !important;
    padding: 100px;
    text-decoration: none;
    display: block;}

.dropdown-services-content a:hover
    {   background-color: #ddd;}

/*Searchbar*/
.search-box{
    display: flex;
    align-items: center;
    /* margin-left: auto;*/
    }
.search-box form{
    display: flex;
    align-items: center;}

.search-box input[type=text]{
    padding: 1vw;
    margin: 0;
    border: none;
    border-radius: 1vw;
    width: 14vw;
    text-transform: capitalize;
    font-size: 1vw;}

.search-box button{
    background: transparent;
    border: none;
    cursor: pointer;
    color: white;
    
}

/*Usuarios dropdown*/

/* Iconos */
.icon{
    color: white;
    object-fit: cover; 
    margin: 0vw 1vw 0vw 1vw ;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 3vw;
    height: 4vw;
    }

.icon:hover{
    color: black;
    cursor: pointer;
}

.dropdown-content
    {display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
    text-align: center;}

.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 2vw;
    font-weight: bold;
}

.dropdown-content a:hover
    {background-color: #ddd;}

.dropdown-content a[href="/users/logout"]:hover
    {background-color: red;}

.dropdown:hover > .dropdown-content
    {display: block;}

/*FF*/


/* Menu Hamburguqesa */
.minimenu input{
    visibility: hidden;
    display: none;
    filter:drop-shadow(3px 3px 3px #FFFFFF);
}
.menuBurger{
    display: none;
}
label {
    box-sizing: border-box;
    display: none;
    border-radius: 1vw;
    width: 7vw;
    height: 7vw;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    font-weight: bold;
    color: #FFFFFF;
}
@media (max-width:768px){
    
    .navbar {
        height: 7vw;
        margin-bottom: 4vw;
        align-items: center;
        justify-content: center;
        
    }
    .nav-text{
        visibility: hidden;
        order: 2;
    }
    input:hover  ~ ul{
        display:block;
    }
    .search-box input[type=text]{
        font-size: 2vw;
        width: 100%;
        height: 4vw;
    }
    .nav-right{
        margin: 0;
    }
    .navbar nav ul{
        height: 7vw;
    }
    .logo img{
        height: 4vw;
    }
    .minimenu{
        visibility: visible;
        display: flex;
    }
    .menuBurger:checked ~ ul{
    display: block;
    }
    .minimenu:hover{
        filter:drop-shadow(3px 3px 3px #FFFFFF);
    }

}